electron_mirror=https://npmmirror.com/mirrors/electron/
electron-builder-binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
registry=https://registry.npmmirror.com/

# 不安装可选依赖
ignore-optional=true

# 禁用进度条，加快安装速度
progress=false

# 不安装开发依赖
# production=true

# 减少日志输出
loglevel=error

# 不生成 package-lock.json
# package-lock=false 